<nav class="navbar" style="background-color: #2e2d5e">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a
        class="navbar-brand"
        style="
          color: #df5c50;
          font-weight: 600;
          font-family: Cambria;
          font-size: 30px;
        "
        >BlogApp</a
      >
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active">
          <a
            routerLink="post-list"
            style="
              color: #df5c50;
              font-weight: 500;
              font-family: Cambria;
              font-size: 20px;
            "
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="post-add"
            style="
              color: #df5c50;
              font-weight: 500;
              font-family: Cambria;
              font-size: 20px;
            "
            >Add Post</a
          >
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a
            routerLink="auth"
            style="
              color: #df5c50;
              font-weight: 500;
              font-family: Cambria;
              font-size: 20px;
            "
            ><span class="glyphicon glyphicon-user"></span> Sign Up</a
          >
        </li>
        <li>
          <a
            routerLink="auth"
            style="
              color: #df5c50;
              font-weight: 500;
              font-family: Cambria;
              font-size: 20px;
            "
            ><span class="glyphicon glyphicon-log-in"></span> Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
