<div style="margin-left: 450px; margin-bottom: 70px">
  <h2 style="font-family: Cambria; color: #2e2d5e; font-size: 35px">
    {{ post?.title }}
  </h2>
  <p
    style="
      margin-right: 400px;
      font-family: Cambria;
      color: #2e2d5e;
      font-size: medium;
    "
  >
    {{ post?.description }}
  </p>
  <img style="width: 1050px" src="{{ post?.imagePath }}" />
  <p style="font-family: Cambria; color: #2e2d5e">{{ post?.author }}</p>
  <p style="font-family: Cambria; color: #2e2d5e">{{ post?.datePublished }}</p>
  <button
    style="
      background-color: #2e2d5e;
      color: #df5c50;
      font-family: Cambria;
      font-weight: 700;
      font-size: 18px;
      padding-inline: 17px;
      padding-block: 4px;
    "
    (click)="onEdit()"
  >
    Edit
  </button>
  |
  <button
    style="
      background-color: #2e2d5e;
      font-family: Cambria;
      font-weight: 700;
      color: #df5c50;
      font-size: 18px;
      padding-inline: 17px;
      padding-block: 4px;
    "
    (click)="onDelete()"
  >
    Delete
  </button>
</div>
